*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    }
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #0ef;
}
.logo{
    color: var(--text-color);
    font-size: large;
    font-weight: 600;
    cursor: default;
}
.navbar{
    display: flex;
    gap: 20px;
}
.navbar a{
    font-size: medium;
    color: var(--text-color);
    margin-left: 4 rem;
    transition: .3s ;

}
.navbar a:hover{
    color: var(--main-color);

}
.side_bar{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: medium;
    color: var(--text-color);
    margin-left: 4 rem;
    transition: .3s ;
    padding: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    width: 400px;
    text-align: center;
    height: 600px;
}
.side_bar i{
    display: flex;
    color: white;
}
.header i{
    display: none;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2;
}
.Home{
    display: flex;
   text-align: left;
   justify-content: center;
   align-items: center;
    padding: 80px;
    /* position: relative;
    top: -80px; */
}
.Home_content{
    justify-content: center;
    align-items: center;
}
.Home_content h3{
    font-size: 16px;
}
.Home_content h1{
    font-size: 32px;
    font-weight: 800;
}
.Home_content p{
    font-size: 12px;
}
.Home_img img{
    border-radius: 50%;
    border: 8px solid #0ef;
}
.social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.social_media a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1;
    transition: 0.5s ease;
    font-weight: 500;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: -300px; */
    gap: 50px;
    background-color: var(--second-bg-color);
    /* height: 100px; */
    padding: 80px;
}
.heading{
    text-align: left;
    font-size: 32px;
}
.about_content h3{
    text-align: left;
    font-size: 24px;

}
.about_content p{
    text-align: left;
    font-size: small;
}
/* .about_content #btn{
    text-align: center;
    grid: flex;
    left: 200px;
} */
.services h2{
    /* margin-bottom: 10px; */
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 32px;
}
.services_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.services_box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    transition: 0.5s ease;
}
.services_box h3{
    font-size: 24px;
    padding: 10px;
}
.services_box p{
    font-size: 12px;
    
}
.services_box a{
    padding-top: 10px;
}
.services_container .services_box:hover{
    border-color:var(--main-color);
    transform: scale(1.02);
}
.Experience{
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 5px; */
    /* border-radius: 20px; */
}
.Experience h2{
    font-size: 32px;
    text-align: center;
}
.Experience i{
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}
.tab,.table{
    background-color: var(--bg-color);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    margin: 10px 20px 20px 20px;
    /* border: 4px solid #0ef; */
    transition: 0.5s ease;
    gap: 10px;
}
.tab:hover,.table:hover{
    border: 4px solid #0ef;
    transform: scale(1.02);
}
.tab_01,.table_01{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: 0.5s ease;
    
}


.tab_01 td,.table_01 td{
    font-size: 20px;
    padding: 5px;
}
.tab_02,.table_02{
    text-align: left;
    font-size: 15px;
}
.tab_01 i:hover,.table_01 i:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.edu_sslc{
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px 20px 20px 20px;
    transition: 0.5s ease;
    flex-wrap: wrap;
}
.edu_sslc:hover{
    border: 4px solid #0ef;
    transform: scale(1.02);
}
.edu_tab tr{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    margin-bottom: 10px;
    


}
.edu_tab{
    position: relative;
    left: 60px;
}
.edu_tab i{
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.Education h2{
    font-size: 32px;
    text-align: center;
    padding: 60px 0 0 0;
}
.portfolio_container{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 20px 10px 0 10px;
}
.portfolio-box{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    /* padding: 10px; */
}
.heading{
    font-size: 32px;
    text-align: center;
    padding: 60px 0 0 0;
    margin-bottom: 20px;
}

.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer{
    position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 0 20px;
transform: translateY(100%);
transition: 0.5s ease;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    }
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.contact form{
    max-width: 800px;
    margin: 16px auto;
    text-align: center;
    margin-bottom: 48px;
}
.input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input_box input,textarea{
    width: 100%;
    padding: 24px;
    font-size: 24px;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact .con_tab{
    width: 800px;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    background: var(--second-bg-color);
    display: grid;
    margin: 16px auto;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    
    transition: 0.8s ease;
    flex-wrap: wrap;
    
}
.con_tab:hover{
    color: #0ef;
}
.input_box input{
    width: 49%;
}
.contact button{
    margin-top: 32px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 30px;
    border-top: 2px solid #0ef;
}
.footer_text p{
    font-size: 24px;
}
.footer_icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--main-color);
    border-radius: 50%;
    transition: 0.5s ease;
}
.footer_icon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer_icon a i{
    font-size: 16px;
    color: var(--second-bg-color);

}
@media screen and (max-width:768px) {
    .header i{
        display: flex;
    }
    .navbar{
        display: none;
    }
    .Home{
        display: flex;
        flex-direction: column;
    }
    .Home_img{
        display: none;
    }
    .about{
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }
    .services_container{
        display: flex;
        flex-direction: column;
    }
    .tab{
        display: flex;
        flex-direction: column;
    }
    .table{
        display: flex;
        flex-direction: column;
    }
    .portfolio_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);;
    }
    .edu_tab tr{
    display: flex;
    gap: 20px;
    font-size: 16px;
    text-align: left;
    position: relative;
    left: -50px;
   }
   .con_tab{
    display: flex;
    justify-content: start;
   }
}

    
    